<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>

	<h1><%= kindOfDay %></h1>
	<ul>
		<li>Eat Food</li>
		<li>Drink Water</li>
		<li>Excersice</li>
		<form action="/" method="post">
			<input type="text" name="nextItem" id="addItem">
			<button type="submit" name="button">Click to Add</button>
		</form>
	</ul>
</body>
</html>